@import "variables";

.logo {

	&__link {
		text-decoration: none;
		color: inherit;
	}

	&__name {
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
		font-size: 2.3em;
	}

	&__slogan {
		margin: 0;
		padding-top: 0.1em;
		letter-spacing: 0.3em;
		font-weight: lighter;
		font-size: 1em;
	}
}